@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

* {
  box-sizing: border-box;
}

body {

  max-width: 550px;
  margin: 20px auto;
  border: 14px solid #e4e4e2;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, inset rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, inset rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

nav {
  padding: 23px 30px;
  box-shadow: 0 2.98px 7.46px rgba(0, 0, 0, 0.1);
}

.gray {
  color: #918E9B;
  ;
}

section {
  padding-block: 26px;
}

.section--img {
  display: block;
  margin: 0 auto;

}

.hero-content {
  margin-top: 32px;
  margin-left: 36px;
  max-width: 349px;
}

.hero-content--title {
  margin: 0;
  font-size: 36px;
  font-style: semi-bold;
  line-height: 40px;

}

.hero-content--desc {
  margin: 0;
  margin-top: 13px;
  font-style: light;
  font-size: 16px;
  line-height: 18px;
}



.cardContainer {
  width: 175px;

}

.cardContainer:first-child {
  margin-left: 37px;

}

.cardContainer:not(:first-child) {
  margin-left: 19px;
}


.cardContainer .imgContainer {
  position: relative;
}

.tag {
  position: absolute;
  background-color: #fff;
  left: 6px;
  top: 6px;
  font-size: 10px;
  margin: 0;
  padding: 4px 6px;
  border-radius: 2px;
}

.card--stats {
  display: flex;
  align-items: baseline;
  gap: 2px;

}

.card-desc p {
  font-size: 11px;
  margin: 0;
  color: #222;
}

.card-list-container {
  display: flex;
  /* justify-content: flex-end; */
  width: 100%;
  overflow-x: auto;
}